@using Europa.Extensions
@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.Core.Enums
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.Domain.Shared


<style>
    .select2-selection__rendered {
        line-height: 13px !important;
        height: 250px !important;
    }

    .select2-selection {
        height: 13px !important;
    }


</style>
<div class="col-md-24" style="margin-bottom: 20px;">
    @Html.Hidden("IdEmpresaVenda", -1)
    <div class="col-md-24">
        <div class="col-md-22 form-group">
            @Html.Label(GlobalMessages.EmpresaVenda)
            <select id="autocomplete_empresa_venda" class="" style="width: 100%;">
            </select>
        </div>
        <div class="pull-right" style="margin-top:19px">
            <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.ConsultaAceitesContratos.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
        </div>
        </div>
    </div> <!-- Fim do componente de data vigencia-->
