:root {
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #4a4a4a;
    --cinza-claro: #f9f8f8;
    --vermelho: #e4002b;
    --azul: #003e62;
    --azul-claro: #bbe5ee;
    --dark-blue: #131820;
}

body {
    font-family: "Roboto", sans-serif !important;
    overflow-x: hidden;
    color: var(--dark-blue);
    height: 100vh;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    position: relative
}

.web-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F8;
    position: absolute;
    height: 59px;
    height: 3.688rem;
    width: 100%;
    color: var(--azul);
    border-top: 1px solid #DADADA;
    bottom: 0px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 500;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 830px;
    height: 100%;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.barra {
    background-color: var(--dark-blue);
    width: 300px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    transition: all .2s linear;
    z-index: 2;
}

a {
    text-decoration: none !important;
}

#titlebar-name-target {
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    padding: 10px 0px 8px 10px;
    font-weight: bolder;
}

#titlebar-buttons-target {
    box-sizing: border-box;
    float: right;
    padding-top: 3px;
}

.link {
    background-color: var(--azul);
    padding: 20px;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid var(--azul-claro);
}

    .link:hover {
        background-color: var(--dark-blue);
    }
.modal-header{
    border:none;
}
.modal-body {
    padding: 10px 10px;
    max-height: calc(100 vh - 150 px );
    overflow-y: unset;
    background-color: #F6F8FA;
}
.modal-footer{
    border: none;
}
    .pull-right {
        text-align: right;
    }

.bg-blue {
    background-color: var(--azul);
}
.titlebar {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    min-height: 50px;
    position: relative;
    background-color: #E6E8EA;
}
.material-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    display:none;
}
.title-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #80808099;
    padding: 10px 0px 10px;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 600;
}

.select2-selection, .select2-container .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:5px;
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
