﻿@using Europa.Resources
@using Europa.Resources
@using Europa.Resources
@using Europa.Fmg.Portal.Models.Application
@using Tenda.EmpresaVenda.ApiService.Models.Juridico

@{ 
    Layout = "~/Views/Shared/_LayoutPublico.cshtml"; 
}

@{ 
    ViewBag.Codigo = "";
    ViewBag.Title = "Comunicado Jurídico"; 
}

@model JuridicoDto

<style>
    .block-content {
        padding-top: 0px;
    }

    .aling-content {
        margin-top: -15px;
    }
</style>

<script src="~/Static/europa/js/pdf.js"></script>
<script src="~/Static/europa/js/pdf.worker.js"></script>

<script src="~/Static/projeto/juridico/index-juridico.js"></script>

<script>
    Europa.Controllers.Juridico.UrlHome = '@Url.Action("Index","Home")';
    Europa.Controllers.Juridico.UrlJuridico = '@Model.Url';
    Europa.Controllers.Juridico.CarregarJuridico();
</script>

<div class="menu-options" align='center'>
    <div id="titlebar-name">@ViewBag.Title</div>
    <div id="titlebar-buttons">
        <button class="btn btn-white" onclick="location.href=Europa.Controllers.Juridico.UrlHome"> @GlobalMessages.Voltar</button>
    </div>
</div>

<div style="width:100%">
    <div id="div-pdf" style="overflow-x: hidden;width: max-content; margin: auto;height: 80vh; overflow-y: auto;margin-top:25px"></div>
</div>


