@using Europa.Resources

<script type="text/javascript" src="~/Static/projeto/conecta/conecta.js"></script>
<link rel="stylesheet" type="text/css" href="~/Static/projeto/conecta/conecta.css" />

<script>
    Europa.Controllers.Conecta.BuscarUrlKanban = '@Url.Action("BuscarUrlKanban", "Conecta")';
</script>


<div class="modal fade modal-fullscreen" id="dialogo_conecta" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" style="margin-top:6%;overflow-y:auto !important;min-width:100%;z-index:1000;padding:0px">
    <div class="modal-dialog dialogo-conecta">
        <div class="modal-content content-conecta">

            <div class="modal-header" style="cursor: unset !important; height: 0px !important; background-color: rgba(0,0,0,0.0);padding:0px">
                <div onclick="Europa.Controllers.Conecta.FecharDialogo();" style="z-index: 1; margin-top: 0.5%; margin-left: auto; margin-right: 31px; display: flex; flex-direction: column;">
                    <img id="btn_close" data-dismiss="modal"
                         style="cursor: pointer; width: 72px;background:linear-gradient(to bottom, #ed1c24, #d0021b 250%);margin-top:5%" src="~/Static/images/dialogo-conecta/fechar-dialogo.png">
                    <br />
                    <label style="color: white; margin-top: -20px;margin-left:16px;">Fechar</label>
                </div>
            </div>
            <div class="modal-footer" onmouseover="Europa.Components.SideMenu.CloseNav()" id="modal_conecta" style="height:1200px;padding:0;border-top:0;">
                <div id="div-frame-conecta" name="div_frame" class="div-frame">
                </div>
                @*<div class="col-md-8" style="margin-top:25px;">
                        <span style="margin-top:35px;width: 668px;font-family: Montserrat; font-weight: 200; font-style: normal; font-stretch: normal; line-height: 1.38; letter-spacing: 0.1px; color: var(--white); font-size: 16px;">
                            Todos os direitos reservados <span style="font-weight:bold">Tenda 2019</span>
                        </span>
                    </div>*@
            </div>
            <div class="modal-footer">
                <div class="col-md-8" style="margin-top:25px;">
                    <span style="margin-top:35px;width: 668px;font-family: Montserrat; font-weight: 200; font-style: normal; font-stretch: normal; line-height: 1.38; letter-spacing: 0.1px; color: var(--white); font-size: 16px;">
                        Todos os direitos reservados <span style="font-weight:bold">Tenda 2019</span>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
