<div id="#footer-tenda" class="footer">
    <div class="container">
        <img src="~/Static/svg/icon-tenda.svg" width="38" height="31">
        <p class="ml-4">Todos os direitos reservados Tenda 2021</p>
    </div>
</div>
