html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,  pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section{
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colors to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colors to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border color to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url("fonts/AktivGrotesk_Trial_Rg.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url("fonts/AktivGrotesk_Trial_Bd.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url("fonts/AktivGrotesk_Trial_Md.ttf");
    font-weight: initial;
}


body{
    overflow-x: hidden;
    font-family: 'AktivGrotesk';
}

:root {
    --chery-red: #ec1d24;
    --slate: #465662;
    --dodger-blue: #4880ff;
    --reddish: #d43e32;
    --dark: #273142;
    --steel: #748591;
    --light-grey-blue: #a6b9c8;
    --tealish: #24ccb8;
    --gray: #dedede;
    --black: #4a4a4a;
    --light-gray: #EAEAEA;
    --marigold: #ffc400;
    --gray-input: #979797;
    --brown-grey: #b3b3b3;
    --gray-disabled: #eeeeeeç
}

#nav_bar {
    background-color: white;
    float: left;
    height: 45px;
    width: calc(100% - 50px);
    padding: 0 25px;
    box-sizing: unset;
    -webkit-box-sizing: unset;
}

#nav_bar .expander{
    float: left;
    margin: 0;
}

#nav_bar .expander .icon {
    float: left;
    width: 34px;
    height: 35px;
    margin: 5px 25px 0 0;
    content: url(icons/menu.svg);
    cursor: pointer;
}

#nav_bar .actions{
    float: left;
    margin: 9px;
}

#nav_bar .actions .btn{
    margin: 0 25px 0 0;
}

#nav_bar .infos {
    margin: 8px 0;
    float: right;
    font-size: 13px;
}

#nav_bar .infos .user{
    float: left;
    margin: 10px 0 0 0;
    color: var(--slate);
    font-weight: bold;
}

    #nav_bar .infos .sino {
        float: left;
        margin-right: 24px;
    }

        #nav_bar .infos .sino img {
            width: 20px;
            cursor: pointer;
            padding-top: 3px;
        }

#img-mensagem {
    width: 19px;
    z-index: 1100;
    margin-top: -600px;
    margin-right: -19px;
    position: fixed;
}


#quant_noti {
    position: absolute;
    margin-left: 10px;
    margin-top: -6px;
    float: left;
    border: solid 7px #ec1d24;
    border-radius: 10em;
    background-color: #ec1d24;
    font-size: 12px;
    color: white;
    height: 20px;
    line-height: 0.8;
}

@-moz-document url-prefix() {
    #quant_noti {
        margin-left: -36px !important;
    }
}


#nav_bar .infos .corretora{
    float: left;
    margin: 10px 0 0 20px;
    color: var(--dark);
    opacity: 0.65;
}

#nav_bar .infos .separator{
    float: left;
    margin: 10px 0 0 20px;
    color: var(--dark);
    opacity: 0.65;
}

#nav_bar .infos .nome{
    float: left;
    margin: 10px 0 0 20px;
    color: var(--dark);
    opacity: 0.65;
}

#nav_bar .infos .info{
    float: left;
    margin: 0 0 0 20px;
    width: 30px;
    height: 30px;
    padding: 7px 0 0 0;
    background: url("icons/info.svg") no-repeat;
    cursor: pointer;
}

#nav_bar .expander .menu-expander{
    width: 296px;
    height: calc(100% - 154px);
    background: var(--steel);
    position: absolute;
    top: 0;
    padding: 45px 0;
    left: -296px;
    color: white;

    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
    z-index: 99999;
}

#nav_bar .expander .menu-expander .user{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 23px;
    position: relative;
    text-align: center;
}

#nav_bar .expander .menu-expander .user .bg-img{
    margin: 0;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    /*background-color: var(--slate);*/
    cursor: pointer;
}
#nav_bar .expander .menu-expander .user .bg-img img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    padding: 0;
    position: relative;
    -webkit-box-sizing: unset;
    z-index: 5;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#nav_bar .expander .menu-expander .user .bg-img img.sem-foto{
    width: 31px;
    height: 24px;
    object-fit: contain;
    padding: 30px 27px;

    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}


.img-menu-fundo-img {
    width: 84px;
    height: 9px;
    opacity: 0.4;
    background-color: var(--slate);
    position: absolute;
    margin-left: 27.7%;
    border-radius: 44%;
    margin-top: -5%;
}


#nav_bar .expander .menu-expander .user #trocar_imagem{
    border: none;
    height: 34px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.24);
    background-color: var(--gray);
    width: 159px;
    text-align: left;
    padding: 5px 0 0 20px;
    position: absolute;
    z-index:15;
    top: 54px;
    left: 150px;
    display: none;
    cursor: pointer;
    color: var(--black);
    font-size: 13px;
}
#nav_bar .expander .menu-expander .user #trocar_imagem:active{
    margin-top: 1px;
}

#nav_bar .expander .menu-expander ul{
    float: left;
    list-style: none;
    margin: 0;
    background: white;
    width: 100%;

    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#nav_bar .expander .menu-expander ul li {
    width: 100%;
    height: 55px;
    background: var(--steel);
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
    display: table;
}

#nav_bar .expander .menu-expander ul li.min{
    max-height: 66px;
    padding-top: 0;
}

#nav_bar .expander .menu-expander ul li.top {
    border-radius: 0 66px 0 0;
    -moz-border-radius: 0 66px 0 0;
    -webkit-border-radius: 0 66px 0 0;
}


#nav_bar .expander .menu-expander ul li.bottom {
    border-radius: 0 0 66px  0;
    -moz-border-radius: 0 0 66px  0;
    -webkit-border-radius: 0 0 66px 0;
}

#nav_bar .expander .menu-expander ul li.bottom.top {
    border-radius: 0 66px 66px  0;
    -moz-border-radius: 0 66px 66px  0;
    -webkit-border-radius: 0 66px 66px 0;
}

#nav_bar .expander .menu-expander li span{
    float: left;
    margin: 0;
    background-color: white;
}

#nav_bar .expander .menu-expander li a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    padding-left: 18px;
    display: table-cell;
    vertical-align: middle;
}

#nav_bar .expander .menu-expander li.white{
    background: white;
}
#nav_bar .expander .menu-expander li.white span{
    background-color: var(--steel);
}

#nav_bar .expander .menu-expander li.white a{
    color: var(--steel);
}

#nav_bar .expander .menu-expander li p{
    float: left;
    margin: 10px 0 0 8px;
}

#nav_bar .expander .menu-expander .user .name{
    font-size: 16px;
    color: white;
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -77px;
}

.push {
    height: 50px;
}

#footer {
    float: left;
    padding: 5px 40px 15px 40px;
    width: calc(100% - 80px);    
    min-height: 55px;
    background-color: var(--light-grey-blue);
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
    bottom: 0;
    z-index: 99998;
}

#footer.fixed{
    position: absolute;
    bottom: 0;
    z-index: 99998;
}

.conteudo-layout {
    /*z-index: 50;*/
    position: absolute;
    width: 100%;
    overflow-y:auto;
    height:100%;
}


.block-content {
    overflow: auto;
    height: 100%;
    padding-top: 15px;
    background-color: white;
    float: left;
    width:100%;
    position: relative;
}


.block-content-transp {
    overflow: auto;
    height: 100%;
    padding-top: 40px;
    background-color: transparent;
    float: left;
    width: 100%;
}



.aling-content {
    padding: 0 25px;
}

#footer .logo-tenda{
    float: left;
    width: 36px;
    height: 36px;
}

#footer p{
    float: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    margin: 10px 0 0 16px;
}

.bg-body {
    width: 100%;
    background-color: #f0f0f0;
    height: 90px;
    overflow: inherit;
    position: absolute;
}

.layoutIndex {
    width: 100%;
    height: 100%;
    overflow: inherit;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/login/background-login.png");
}

.bola-rosa-menor-logado {
    min-width: 95px;
    max-width: 160px;
    width: 5vw;
    position: absolute;
    right: 0;
    top: -2vw;
}

.bola-blur-logado {
    min-width: 65px;
    max-width: 100px;
    top: 15%;
    left: 3%;
    width: 5vw;
    position: absolute;
}


.msg-footer-tenda {
    width: 100%;
    background-color: #a6b9c8;
    height: 56px;
    bottom: 0;
    position: fixed;
}

    .msg-footer-tenda div {
        display: -webkit-inline-box;
    }

        .msg-footer-tenda div img {
            width: 37px;
            margin-top: 11px;
        }

        .msg-footer-tenda div p {
            margin-top: 20px;
            margin-left: 15px;
            color: white;
            font-size: 16px;
            font-weight: 400;
        }

.bola-no-blur-logado {
    min-width: 80px;
    max-width: 125px;
    top: 11%;
    width: 7vw;
    position: absolute;
}

.bola-menor-logado {
    min-width: 55px;
    max-width: 80px;
    width: 4vw;
    top: 30vh;
    margin-left: 90%;
    position: absolute;
}

.bola-rosa-logado {
    min-width: 240px;
    max-width: 285px;
    width: 17vw;
    position: absolute;
    margin-left: -3%;
    margin-top: 90vh;
}

.bola-grd-menor-red-logado {
    min-width: 150px;
    max-width: 270px;
    width: 14vw;
    position: absolute;
    right: 1vw;
    top: 81%;
}

.bola-grd-menor-cima-logado {
    min-width: 250px;
    max-width: 285px;
    width: 21vw;
    margin-left: 52vw;
    position: absolute;
}
/*
*   BLOCOS
*/

.wrapper {
    margin-top: 70px;
    padding-bottom: 77px;
    height: 100%;
}

.block {
    height: 100%;
}

.block-pagination {
    background-color: rgba(255, 255, 255, 1);
    height: 10%;
    overflow: hidden;
    float: right;
}

/*
*   BLOCO ESQUERDO
*/

.left-block {
    background-color: rgba(254, 254, 254, 1);
}

/*
*   BLOCO DIREITO
*/

.right-block {
    overflow: auto;
    height: 100%;
}

.right-block .block-content {
    padding: 10px 20px 20px 10px;
}
