
table.dataTable {
    border-collapse: collapse;
}

.dataTables_wrapper .dataTables_info {
    clear: none;
    float: left;
}

.dataTables_length {
    margin: 0;
}

.europa-datatable-table,
.europa-datatable-table table,
.europa-datatable-footer,
.europa-datatable-custom-header,
.europa-datatable-top {
    margin: 0 !important;
    padding: 0;
    float: left;
    width: 100%;
}

.europa-datatable-top,
.europa-datatable-footer {
    text-align: center;
    vertical-align: middle;
}

.europa-datatable-footer {
    min-height: 35px;
    position: relative;
}

.europa-datatable-custom-header {
    border-top: 2px solid #DDDDDD;
    padding: 2px;
    display: none;
}

.fc-center h2 {
    font-size: large;
    margin: 0;
}

.fc-toolbar {
    margin-bottom: 4px;
}

.europa-datatable-custom-header h4 {
    padding: 0px;
}

.europa-datatable-custom-header .pull-left .panel-title {
    display: inline-block;
    font-size: medium;
    line-height: 27px;
    margin-left: 5px;
}

.europa-datatable-custom-header .panel-title {
    display: inline-block;
    font-size: medium;
    line-height: 27px;
    margin-left: 5px;
}

.europa-datatable-custom-header .form-group {
    display: inline-block;
    font-size: medium;
    line-height: 27px;
    margin-left: 5px;
}

.europa-datatable-custom-header label {
    padding: 0px;
    margin: 0px;
}

.europa-datatable-custom-header .pull-left {
    padding: 0px;
}

.europa-datatable-custom-header h3 {
    padding: 0px;
}

.europa-datatable-custom-header h2 {
    padding: 0px;
}

.europa-datatable-custom-header .btn-group {
    padding: 0px;
}

.europa-datatable-custom-header .input-group {
    padding: 0px;
}

.europa-datatable-reload {
    float: left;
    margin: 4px 12px;
    display: none;
    position: absolute;
    padding: 0px;
    left: 0px;
}

    .europa-datatable-reload > .btn {
        padding: 2px;
        width: 24px;
        height: 24px;
        font-size: 12px;
    }

.europa-datatable-top,
.europa-datatable-custom-header {
    padding-top: 15px;
    padding-bottom: 5px;
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    width: 48px;
    height: 10px;
    top: 32px;
    padding: 0;
    text-align: center !important;
    background: none !important;
}

.europa-datatable-container-block {
    display: inline-block;
    vertical-align: text-top;
}

.europa-datable-info,
.europa-datable-paginator,
.europa-datatable-max-visible {
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

    .europa-datatable-max-visible select {
        border: 1px solid #ccc !important;
    }

    .europa-datatable-max-visible label {
        margin: 3px;
    }

.ng-scope > div > .btn {
    padding: 4px 6px 2px 6px;
}

.ng-scope > .btn {
    padding: 4px 6px 2px 6px;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #E6E8EA;
}

table.dt-rowReorder-float {
    z-index: 10060 !important;
}

.europa-datatable-navegar-para {
    display: block !important;
    float: left;
    margin: 3px 0;
    display: none;
    padding: 0px;
}

.europa-datatable-navegar-para span {
    margin-right: 5px;
}

.europa-datatable-navegar-para input {
    width: 60px !important;
    margin-right: 5px;
    height: 25px;
}

.dataTable > thead > tr > th {
    color: white;
    background-color: var(--steel);
    font-size: 14px;
    text-align: center;
/*    text-transform: uppercase;*/
}

.dataTable > thead > tr.newRow > th{
    background-color: white;
}

.dataTable > tbody > tr > td {
    font-size: 12px;
    text-align: center;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 0 !important;
}

.dataTables_paginate > ul.pagination > li {
    border: 0 solid transparent;
    background-color: transparent;
    font-size: 12px;
    width: 27px;
    height: 27px;
}
.dataTables_paginate > ul.pagination > li > a {
    border: 0 solid transparent;
    background-color: transparent;
    color: var(--steel);
    font-weight: normal;
    width: 27px;
    height: 27px;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 7px;
    margin-left: 1px;
    margin-right: 1px;
}
.dataTables_paginate > ul.pagination > li.active > a {
    border: 0 solid transparent;
    background-color: transparent;
    color: var(--slate);
    font-weight: bold;
}
.dataTables_paginate > ul.pagination > li > a.next,
.dataTables_paginate > ul.pagination > li > a.last,
.dataTables_paginate > ul.pagination > li > a.previous,
.dataTables_paginate > ul.pagination > li > a.first{
    opacity: 1;
    background-color: var(--steel);
    border-radius: 2.3px;
    color: white;
    font-weight: normal;
    padding-top: 8px;
}
.dataTables_paginate > ul.pagination > li.disabled > a {
    opacity: 0.5;
    border-radius: 2.3px;
    color: white;
    font-weight: normal;
    padding-top: 8px;
}

.europa-datatable-status > div {
    padding: 20px;
}
.europa-datatable-status > div > i {
    margin-left: 32px;
}
.europa-datatable-status > div > b {
    margin-left: 12px;
}
.europa-datatable-area-vazia{
    float: left;
    width: 100%;
    min-height: 60px;
    text-align: center;
    padding: 20px;
    display: none;
    line-height: 1.3;
    font-size: 13px;
}