.modal {
    /*overflow: auto !important;*/
    margin: auto;
}

.modal-dialog{
    width: auto;
}

.modal-content {
    border:none;
    border-radius: 0px;
    box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.12);
    opacity: 0.95;
    background-image: linear-gradient(237deg, #fcfcfc, #ececec);
}

.modal-header{
    border-bottom: none;
    padding: 12px 40px 5px;
    cursor: move;
}

.modal-header.center {
    display: block;
    width: 100%;
    text-align: center;
}

.modal-red {
    border-bottom: 1px solid #e5e5e5;
    background-color: var(--chery-red);
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    padding: 10px 10px 10px;
    max-height: calc(102vh - 100px);
    width: 96%;
    margin-left: 2%;
    overflow-y: auto;
}

.modal-close {
    height: 14px;
    width: 16px;
    cursor: pointer;
    float: right;
    margin-top: -22px;
}

.modal-footer {
    padding: 7px 10px;
    width: 96%;
    margin-left: 2%;
    border-top: none;
}

.modal-alert-body {
    max-height: 500px;
    overflow-x: auto;
    padding-top: 10px;
}

.modal-backdrop {
    /*background-color: transparent;
    position: inherit;*/

}

.modal-title {
    font-size: 18px;
    font-weight: bolder;
}

.modal-alert-content {
    background-image: url('');
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    border-width: 0;
    color: var(--slate);
}
.modal-alert-content > div.modal-header > div:last-child {
    padding: 20px;
    box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(256deg, #fcfcfc, #ececec);
}

.modal-alert-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 27px;
}
.modal-confirm-message {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    padding-top: 3px;
}
.modal-alert-message {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
    padding-top: 3px;
}
.modal-alert-message.sucesso {
    font-weight: bold;
    font-size: 20px;
    margin: 6px 0 0 0;
    display: table-cell;
    vertical-align: middle;
}