.titlebar {
    border: 1px solid transparent;
    position: relative;
    min-height: 20px;
    padding: 7px 25px;
    background-color: var(--chery-red);
    color: white;
}

#titlebar-buttons-target {
    float: right;
}

#titlebar-name-target {
    float: left;
    font-weight: bold;
    padding: 8px 0 0 0;
    font-size: 16px;
}

#titlebar-extra-target{
    float: left;
    width: 100%;
    margin: 0;
    background-color:white;
}

#titlebar-extra-target .nav>li>a{
    padding: 20px 15px 0 20px;
}

/*

!******************** CORES *******************!
.titlebar.red{
    background-color: var(--chery-red);
}

.titlebar.red #titlebar-name-target{
    background-color: var(--chery-red);
}
*/
