
.login-wrapper {
    padding: 30px 40px 40px 40px;
    background: #edeef2;
}

.login-field {
    background: white !important;
    color: #ac3531;
    border: 0px solid transparent;
    border-radius: 0px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    width: 100%;
}

    .login-field:active {
        box-shadow: inset 0px 0.99px 0.99px 0px rgba(0, 0, 0, 0.0749428), 0px 0px 7.99px 0px rgba(101, 174, 232, 0.599542);
    }

    .login-field:focus {
        box-shadow: inset 0px 0.99px 0.99px 0px rgba(0, 0, 0, 0.0749428), 0px 0px 7.99px 0px rgba(101, 174, 232, 0.599542);
    }

    .login-field::placeholder {
        color: rgba(172, 53, 49, 1) !important;
        font-weight: bold;
    }

    .login-field::-webkit-input-placeholder {
        color: rgba(172, 53, 49, 1) !important;
        font-weight: bold;
    }

    .login-field::-moz-placeholder {
        color: rgba(172, 53, 49, 1) !important;
        font-weight: bold;
    }

.login-btn {
    background-color: #ac3531 !important;
    border-color: transparent;
    color: white;
    border-width: 0px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 11px;
    font-weight: normal;
    padding: 0px 15px 0px 15px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

    .login-btn:hover {
        background-color: #9d312d !important;
        color: white;
    }

    .login-btn:focus {
        background-color: #9d312d !important;
        color: white;
    }

    .login-btn:active {
        background-color: #832a26 !important;
        border-color: #832a26;
        color: white;
    }

.alert {
    margin-bottom: 0px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    padding-right: 0px !important;
}

.menu.navbar-default .navbar-text {
    font-size: small;
}

body {
    background-image: url("../../images/login/background-login.png");
    /*background-repeat: no-repeat;
            background-size: 100% 100%;*/
    background-size: cover;
    background-position: center;
}


.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .iconlogin {
        position: absolute;
        padding: 10px;
        margin-left: 4px;
        margin-top: 2px;
        pointer-events: none;
    }

/* align icon */
.left-addon .iconlogin {
    left: 0px;
}

.right-addon .iconlogin {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 50px;
}

.right-addon input {
    padding-right: 30px;
}

.errorBorder {
    width: 100%;
    border: solid 1.2px red !important;
    color: red;
}

.div-imgs-balls {
    position: absolute;
    z-index: 10;
}

.div-imgs-balls img:nth-child(1) {
    width: 110pt;
    margin-left: 4vw;
    margin-top: 2vw;
}

.div-imgs-balls img:nth-child(2) {
    width: 14vw;
    position: absolute;
    margin-left: 40vw;
}

.div-imgs-balls img:nth-child(3) {
    right: 0;
    position: absolute;
    margin-top: 1vw;
    width: 5vw;
}

.msg-acesso {
    text-align: center;
}

    .msg-acesso span {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-align: center;
        color: #6b6c6f;
    }

.div-text-login {
    text-align: center;
    margin-top: 1vw;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.26px;
    text-align: center;
    color: black;
}

.img-3-bolls {
    position: absolute;
    left: 2vw;
    width: 10vw;
    margin-top: -2vw;
}

.div-login-input span {
    color: #6b6c6f;
    font-size: 15px;
}

.div-login-input div {
    margin-top: 5px;
}

.fa-envelope-o {
    font-size: 22px;
    color: #b3b3b3;
}

.div-login-input div input {
    background-color: white !important;
    border: solid 1.2px #b3b3b3;
    font-size: 15px;
    height: 48px;
    border-radius: 50px;
}

.div-senha-input {
    margin-top: 20px;
}

    .div-senha-input span {
        color: #6b6c6f;
        font-size: 15px;
    }

    .div-senha-input div {
        margin-top: 5px;
    }

.img-styles-bg img:nth-child(1) {
    width: 46px;
    margin-top: 6px;
}

.img-styles-bg img:nth-child(2) {
    width: 46px;
    margin-top: 6px;
    margin-left: 88%;
    cursor: pointer;
}

.img-styles-bg img:nth-child(3) {
    pointer-events: unset;
    width: 46px;
    margin-top: 6px;
    margin-left: 88%;
    cursor: pointer;
    display: none;
}

.div-senha-input div input {
    background-color: white !important;
    border: solid 1.2px #b3b3b3;
    font-size: 15px;
    height: 48px;
    border-radius: 50px;
}

.msg-error-login-failure {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: #ec1d24;
    font-weight: bold;
}

#btn_login {
    box-shadow: 2px 8px 11px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 48px;
    background-color: #ec1d24;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
}

.small-ball {
    width: 3vw;
    /*margin-top: 3vw;*/
    right: 6vw;
    position: absolute;
}

.div-img-footer img:nth-child(1) {
    width: 18vw;
    max-width: 350px;
    left: 10vw;
    position: absolute;
    min-width: 200px;
    bottom: 150px;
}

.div-img-footer img:nth-child(2) {
    right: 4vw;
    width: 12vw;
    max-width: 250px;
    position: absolute;
    bottom: 180px;
    min-width: 150px;
}

.msg-footer-tenda {
    width: 100%;
    background-color: #a6b9c8;
    height: 56px;
    bottom: 0;
    position: fixed;
}

    .msg-footer-tenda div {
        display: -webkit-inline-box;
    }

        .msg-footer-tenda div img {
            width: 37px;
            margin-top: 11px;
        }

        .msg-footer-tenda div p {
            margin-top: 20px;
            margin-left: 15px;
            color: white;
            font-size: 16px;
            font-weight: 400;
        }

.wrapper {
    padding-top: 0;
}
