@using Tenda.Domain.EmpresaVenda.Models
@model Tenda.Domain.EmpresaVenda.Models.EmpresaVenda

@{
    ViewBag.Codigo = "EVS01";
}

<div class="col-md-24" id="div_form_empresa_venda">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_FormularioEmpresaVenda.cshtml", Model);
    }
</div>
<div class="col-md-24" id="div_form_endereco">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_FormularioEndereco.cshtml", Model);
    }
</div>
<div class="col-md-24" id="div_form_dados_tributarios">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_FormularioDadosTributarios.cshtml", Model);
    }
</div>
<div class="col-md-24" id="div_form_representante_legal">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_FormularioDadosRepresentanteLegal.cshtml", new Corretor());
    }
</div>
<div class="col-md-24" id="div_form_responsavel_tecnico">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_FormularioResponsavelTecnico.cshtml", Model);
    }
</div>
<div class="col-md-24" id="div_form_documentos_empresa_venda">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_DocumentosEmpresaVenda.cshtml");
    }
</div>
<div class="col-md-24" id="div_form_responsavel_aceite_empresa_venda">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_ResponsavelAceiteEmpresaVenda.cshtml");
    }
</div>
<div class="col-md-24" id="div_form_documentos_empresa_venda">
    @{
        Html.RenderPartial("~/Views/EmpresaVenda/_ModalConfiguracoes.cshtml");
    }
</div>