@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-24" style="text-align:center;font-weight: bolder">
    <br />
    Usuário sem acesso. Para solicitar o acesso ao sistema, favor abrir um chamado no <a href="https://chamados.construtoratenda.com" target="_blank">Automídia</a> em <a href="https://chamados.construtoratenda.com" target="_blank">https://chamados.construtoratenda.com</a>
</div>