@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

<div ng-controller="DatatableCidade as table">
    <div id="datatable_cidade_barra" class="col-md-24 container-fluid">
        <div class="col-md-24 form-group">
            <form>
                <div class="col-md-5 " style="margin-right:5px">
                    <input type="text" id="filtroCidade" maxlength="50" placeholder="@GlobalMessages.Cidade" class="form-control">
                </div>
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarCidade"))
                {
                    <div class="col-md-5" style="margin-left: 5px">
                        <button class="btn btn-default" onclick="Europa.Controllers.EstadoCidade.FiltrarCidades()"><i class="fa fa-filter" aria-hidden="true"></i></button>
                        <button class="btn btn-default" type="button" onclick="Europa.Controllers.EstadoCidade.LimparFiltroCidade()"><i class="fa fa-eraser"></i></button>
                    </div>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirCidade"))
                {
                    <div class="col-md-3 pull-right"style="margin-right: 5px">
                        <button class="btn btn-default pull-right" id="btn-incluir-cidade" disabled="disabled" onclick="Europa.Controllers.EstadoCidade.IncluirCidade()"><i class="fa fa-plus"></i> @GlobalMessages.Incluir</button>
                    </div>
                }
                </form>
        </div>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>

