@using Europa.Resources
@using Tenda.Domain.Core.Enums

<div class="modal" id="modal_cadastrar_banner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="overflow: auto">
    <div class="modal-dialog modal-lg" role="document" style="min-width:1300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#modal_cadastrar_banner').hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.TrocarImagem</h4>
            </div>
            <div class="modal-body" style="padding:10px">
                <div class="col-md-24" style="text-align: center;">
                    <input name="upload" id="fileid" type="file" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" onclick="Europa.Controllers.CadastroBanner.SalvarBanner()"><i class="fa fa-floppy-o" aria-hidden="true"></i> @GlobalMessages.Salvar</button>
                    <button type="button" class="btn btn-default" onclick="$('#modal_cadastrar_banner').hide()"><i class="fa fa-close" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

