@using Europa.Resources
@model Tenda.Domain.EmpresaVenda.Models.BreveLancamento

<script type="text/javascript" src="~/Static/projeto/consulta-estoque/modal-empreendimento.js"></script>

<div class="modal" id="disponibilidadeEmpreendimento" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @if (Model.Empreendimento != null)
                {
                    <h4 class="modal-title" id="myModalLabel">
                        <span id="novoEmpreendimento">@GlobalMessages.ConsultaEstoqueEmpreendimento - @Model.Empreendimento.Nome</span> 
                    </h4>
                }
            </div>
            <div class="modal-body">
                @Html.HiddenFor(x => x.Empreendimento.Divisao)
                @{
                    Html.RenderPartial("~/Views/ConsultaEstoque/_EmpreendimentoDatatable.cshtml");
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Europa.Components.ConsultaEstoqueModalEmpreendimento.CloseModal()"><i class="fa fa-close" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
            </div>
        </div>
    </div>
</div>