@using Europa.Resources


<div class="modal" id="alterar_cca_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Controllers.PrePropostaAguardandoAnalise.Modal.AlterarCCA.FecharModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alterar CCA da Pré Proposta</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="IdPreProposta" />
                <div ng-controller="CCAsPPR as table">
                    <div id="datatable_ccasppr_header" class="col-md-24">
                    </div>
                    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                           dt-instance="table.dtInstance" class="table table-striped table-bordered"
                           dt-column-defs="table.dtColumnDefs"></table>
                </div>

                <div class="col-md-24">
                    <label>Selecione novo CCA: </label>
                    <select id="select-novo-cca" style="width:255px;"></select>
                </div>
                <div>
                    <label id="error-label" style="color:darkred"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_salvar_cca" class="btn btn-default" type="button" onclick="Europa.Controllers.PrePropostaAguardandoAnalise.Modal.AlterarCCA.Alterar()">
                    <i class="fa fa-check"></i> @GlobalMessages.Salvar
                </button>
                <button id="btn_desistir_cca" class="btn btn-default" type="button" onclick="Europa.Controllers.PrePropostaAguardandoAnalise.Modal.AlterarCCA.FecharModal()">
                    <i class="fa fa-ban"></i> @GlobalMessages.Desistir
                </button>
            </div>
        </div>
    </div>
</div>