.filtro-label {
    font-family: AktivGrotesk;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #003d62;
}
.filtro-input {
    width: 417px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #979797;
    background-color: var(--white);
}
    .filtro-input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

.dataTable > thead > tr > th {
    background-color: #003d62;
}

.retangulo-red {
    width: 164px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    border: solid 1px #e4002b;
    background-color: var(--white);
    font-size: 15px;
    color: #003d62;
    font-weight: bold;
}
.retangulo-pink {
    width: 164px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    border: solid 1px #8e3a80;
    background-color: var(--white);
    font-size: 15px;
    color: #003d62;
    font-weight: bold;
}
.retangulo-orange {
    width: 164px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    border: solid 1px #f2a900;
    background-color: var(--white);
    font-size: 15px;
    color: #003d62;
    font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b3b3b3;
}

:-ms-input-placeholder {  Internet Explorer 10-11 
    color: #b3b3b3
}

::-ms-input-placeholder {  Microsoft Edge 
    color: #b3b3b3;
}

