@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Models
@using Tenda.Domain.Core.Models
@using Tenda.EmpresaVenda.Portal.Models.Application

<div class="col-md-24">
    <div class="col-md-24" id="cadastro_subtitle" style="font-weight: normal; font-size: 17px; text-align: center; padding-bottom: 32px;">
        Cadastre um novo usuário para que ele tenha acesso a plataforma e possa visualizar e editar informações.
    </div>
    <fieldset id="fieldset_corretor" class="col-md-24">
        <div class="col-md-24" id="div_form_corretor">
            @{
                Html.RenderPartial("~/Views/Corretor/_FormularioCorretor.cshtml", new Corretor());
            }
        </div>
    </fieldset>
    <div id="password_hint" class="col-md-24" style="font-weight: lighter !important; font-size: 9px; text-align: left; color: var(--steel); margin-top: 15px;">
        * CAMPOS OBRIGATÓRIOS. ** A SENHA DEVE CONTER 8 DÍGITOS, ENTRE LETRAS E NÚMEROS COM PELO MENOS UMA MAÍUSCULA
    </div>
    <div id="detail_buttons" class="col-md-24" style="text-align: right; margin-top: 25px; margin-bottom: 25px;">
        <img title="@GlobalMessages.Editar"
             onclick="Europa.Controllers.Corretor.Editar()"
             src="~/Static/images/pen.svg"
             width="32px" height="32px" style="margin-right: 27px;cursor:pointer"/>
        <img title="@GlobalMessages.Remover"
             onclick="Europa.Controllers.Corretor.Excluir()"
             src="~/Static/images/trash.svg"
             width="32px" height="32px" style="cursor:pointer"/>
    </div>
</div>