@using Tenda.Domain.EmpresaVenda.Models
@model Tenda.EmpresaVenda.ApiService.Models.Loja.LojaPortalDto

@{
    ViewBag.Codigo = "CAD15";
}

<div class="col-md-24" id="div_form_loja_portal">
    @{
        Html.RenderPartial("~/Views/LojaPortal/_FormularioLojaPortal.cshtml", Model);
    }
</div>
<div class="col-md-24" id="div_form_endereco">
    @{
        Html.RenderPartial("~/Views/LojaPortal/_FormularioEndereco.cshtml", Model);
    }
</div>