@{
    string ano = DateTime.Now.Year.ToString();
}

<div class="web-footer">
    <div class="container">
        <div class="footer-content">
            <span  style="">FMG - Ferramenta de Monitoramento e Gestão  |  Todos os Direitos reservados - @ano</span>
        </div>
    </div>
</div>
