
<div id="bg-body-layout" class="layoutIndex">
    <img class="bola-grd-menor-cima-logado" src="~/Static/images/login/bola-gde-menor-red-cima.png" />
    <img id="bola-rosa-menor-layout" class="bola-rosa-menor-logado" src="~/Static/images/login/bola-rosa-menor-alto.png" />
    <img id="bola-blur-layout" class="bola-blur-logado" src="~/Static/images/login/bola-blur.png" />
    <img id="bolas-no-blur-layout" class="bola-no-blur-logado" src="~/Static/images/login/bolas-no-blur.png" />
    <img id="bola-menor-layout" class="bola-menor-logado" src="~/Static/images/login/bola-menor.png" />
    <img id="bola-rosa-layout" class="bola-rosa-logado" src="~/Static/images/login/bola-rosa.png" />
    <img id="bola-grd-menor-layour" class="bola-grd-menor-red-logado" src="~/Static/images/login/bola-gde-menor-red-baixo.png" />
</div>
 