@using Europa.Resources

<script src="~/Static/projeto/modal-mensagens/modal-banner-show.js"></script>

<div id="modal-banner" class="modal col-md-15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="overflow-y: hidden;">
    <div class="modal-dialog" style="padding: 30px;overflow-y: hidden;">
        <div class="modal-content modal-alert-content">
            <div class="modal-header" style="display: none;">
            </div>
            <div class="modal-body" style="padding: 0px 0px;">
                <img title="@GlobalMessages.Fechar" data-dismiss="modal" style="text-align: right;" class="btn-close pull-right" src="~/Static/images/x-icon.png"
                     width="20px" height="18px" />
                <a href="https://palcotenda.com.br/" target="_blank">
                <img id="myImg" src="~/Static/images/comunicado-juridico.png"></a>
            </div>
            <div class="modal-footer" style="display: none;"></div>
        </div>
    </div>
</div>