@using Europa.Resources
@{
    ViewBag.Title = GlobalMessages.AcessoNegado;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model string

<div class="col-md-24" style="text-align:center;font-weight: bolder">
    <br />
    @Model
</div>