<script src="~/Static/projeto/home/home.js"></script>
<script>
    Europa.Components.ViaturaUsuario.UrlListar = '@Url.Action("ListarViaturaEmPercuso", "Viatura")';
    Europa.Controllers.Material.Cautela.UrlListar ='@Url.Action("ListarCautelaFalta", "Material")'
    Europa.Controllers.Material.Consumo.UrlListar = '@Url.Action("ListarConsumoFalta", "Material")';
</script>
<div class="container mt-5">
    <div class="material-container mt-4">
        <button class="btn btn-home" onclick="Europa.Controllers.Home.Cautela()">Materiais cautelas em falta</button>
        <button class="btn btn-home" onclick="Europa.Controllers.Home.Consumo()">Materiais consumo em falta</button>
        <button class="btn btn-home" onclick="Europa.Controllers.Home.Viatura()">Viaturas em andamento</button>

    </div>
    <div id="cautelas">
        <div class="title-table">
            <div class=""> Cautela</div>
        </div>
        <div ng-controller="CautelaDataTable as table">
            <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                   dt-instance="table.dtInstance" class="table table-striped table-bordered"
                   dt-column-defs="table.dtColumnDefs"></table>
        </div>
    </div>
    <div id="consumos">
        <div class="title-table">
            <div class=""> Consumo</div>
        </div>
        <div ng-controller="ConsumoDataTable as table">
            <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                   dt-instance="table.dtInstance" class="table table-striped table-bordered"
                   dt-column-defs="table.dtColumnDefs"></table>
        </div>
    </div>
    <div id="viaturas">
        @Html.Partial("~/Views/Shared/Componentes/_DatatableViaturaUsuario.cshtml")
    </div>
</div>

