@using Europa.Resources

<div class="col-md-24">
    @Html.Label(GlobalMessages.Perfis)
    <select id="autocomplete_perfil" multiple="multiple" name="autocomplete_perfil" class="select2-container form-control" multiple onchange="Europa.Controllers.Corretor.ActionAutocompletePerfil()"></select>
</div>
