@using Tenda.Domain.EmpresaVenda.Models
@using Tenda.Domain.Core.Models

<fieldset id="fieldset_corretor">
    <div class="col-md-24" id="div_form_corretor">
        @{
        Html.RenderPartial("~/Views/Corretor/_FormularioCorretor.cshtml", new Corretor());
        }
    </div>
</fieldset>