/**
*** Seta para ESQUERDA
**/
.seta-esquerda:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #003E62;
}

/**
*** Seta para DIREITA
**/
.seta-direita:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #003E62;
}

/**
*** Seta para CIMA
**/
.seta-cima:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #003E62;
}

/**
*** Seta para BAIXO
**/
.seta-baixo:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #003E62;
}

/* coolicon */
.X {
    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 20.83%;
    bottom: 20.83%;
    /* Branding/Blue Tenda */
    background: #003E62;    
}

.button__blue__outline {
    background: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    text-align: center;
    color: #003d62;
    text-decoration: none;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #003d62;
}

.icon_exportar {
    width: 45px;
    position: absolute;
    margin-top: -5px;
}

.button__filtrar {
    width: 180px;
}

.button__exportar {
    margin-left: 20px;
}

.icon-calendar {
    width: 22px;
}

.title-table {
    margin-top: 6px;
    margin-bottom: 0px;
    color: #003d62;
}



.break {
    flex-basis: 100%;
    border: 0.5px solid #858C94;
    height: 0;
    color: darkgrey;
}



.GrayBackground {
    /*background-color: #EBEEF2 !important;*/
    color: #000000 !important;
    opacity: 0.4 !important;
}
.BlockCards {
    /*background-color: #EBEEF2 !important;*/
    color: #000000 !important;
    pointer-events: none;
    opacity: 0.4 !important;
}
.GrayBackground2 {
    opacity: 0.4 !important;
}
#body-container {
    background: #F4F6F9;
}

.Kanban-filtro {
    background: white;
    font-family: AktivGrotesk;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: #465662;
    letter-spacing: 0.127273px;
}
.Kanban-filtro-icone {
    text-align: right;
    margin-left: 3em !important;
    margin-bottom: -25px;
}
    .Kanban-filtro-icone label {
        font-size: 13px;
        text-transform: none !important;
    }
    .Kanban-filtro-icone p {
        text-align: left !important;
        font-style: italic;
        font-weight: 100;
    }
    .Kanban-filtro-icone div > p {
        text-align: left !important;
        font-style: initial;
        font-weight: 100;
        margin-left: 3%;
        margin-top: 3%;
    }
.kanban-container {
    text-align: -webkit-center;
    margin: 10px;
    font-family: Aktiv Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.164073px;
}
.Kanban-Button {
    background: #F2A80F;
    box-shadow: 0px 6.016px 13.536px -4.512px rgba(24, 39, 75, 0.12), 0px 9.024px 31.584px -3.008px rgba(24, 39, 75, 0.12);
    border-radius: 6px;
    height: 60px;
}
.ButtonSelected-Card {
    background: #F2A80F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: 60px;
}
.Kanban-Recolhe-Expande {
    display: contents;
    text-align-last: end;
}
.kanban-container div {
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 1px;
}
    .kanban-container div label {
        margin-bottom: .5rem;
        margin-top: 1rem;
        text-transform: uppercase;
    }
.kanban-container h4 {
    /* Ponto de venda */
    height: 16px;
    left: 10%;
    right: 10%;
    top: calc(50% - 16px/2 - 38px);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.127273px;
    color: #465662;
}

.kanban-container .CardsPreProposta {
    display: inline-table;
    text-align: start;
    color: white;
    font-family: Aktiv Grotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1em;
}
.CardNome {
    color: #F6CD3A;
    text-transform: uppercase;
    text-decoration: none;
}
.CardNome a{
    color: #F6CD3A;
    text-transform: uppercase;
    text-decoration: none;
}
.DadosCardPreProposta {
    font-family: Aktiv Grotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.CardDisabled {
    pointer-events: none;
    opacity: 0.4;
}
.StatusCardPreProposta {
    color: #CAE8F2;
    font-weight: 100;
    /*text-align-last: center;*/
}
.RowCardsPreProposta {
    padding: 10px;
}
.CardEyes {
    text-align: -webkit-right;
    padding-right: 35px !important;
    display: initial;
}
.CardEyesRed {
    width: 25px;
    height: 15px;
    color: red;
    background: url('../../svg/icon-eye-white-cut.svg') no-repeat;
}
.CardEyesWhite {
    width: 20px;
    height: 15px;
    background: url('../../svg/icon-eye-white.svg') no-repeat;
}
    .GrayCard {
        opacity: 0.5;
    }


.Div_Card_Kanban {
    overflow: scroll;
    overflow-x: hidden;
    height: 45em;
}
