.button__blue__outline {
    background: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    text-align: center;
    color: #003d62;
    text-decoration: none;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #003d62;
}

.icon_exportar {
    width: 45px;
    position: absolute;
    margin-top: -5px;
}
.button__filtrar {
    width: 180px;
}
.button__exportar {
    margin-left: 20px;
}
.icon-calendar{
    width:22px;
}

.title-table {
    margin-top: 6px;
    margin-bottom: 0px;
    color: #003d62;
}