html,
body {
    font-family: 'Roboto', sans-serif !important;
    scroll-behavior: smooth;
    height: 100%;
    color: #4a4a4a;
}

@font-face {
    font-family: 'FontTenda';
    src: url('../fonts/Tenda-Medium.woff') format('woff');
    src: url('../fonts/Tenda-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    color: #4a4a4a;
    height: 100%;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 1.6rem;
}

.button__gradient:hover {
    color: #ffffff;
    text-decoration: none;
}

.button__gradient {
    width: 45%;
    padding: 0.75rem;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border: 0;
    background: rgb(245, 81, 95);
    background: -moz-linear-gradient(left, rgba(245, 81, 95, 1) 0%, rgba(208, 2, 27, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(245, 81, 95, 1) 0%, rgba(208, 2, 27, 1) 100%);
    background: linear-gradient(to right, rgba(245, 81, 95, 1) 0%, rgba(208, 2, 27, 1) 100%);
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

body {
    background-image: url('../img/login-bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    background-position: center;
    height: 100%;
}

.form-control {
    padding: 0 0 0 5rem;
    color: #003d62;
    border-radius: 24px !important;
    border: solid 1px #979797;
    height: 48px;
    background-color: white;
    font-size: 1.4rem;
}

.form-control:focus {
    color: #003d62;
    background-color: white;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}

.form-control::-webkit-input-placeholder {
    color: #dbdcdc;
    font-size: 1.4rem;
}

.input-error .form-control {
    color: red;
    border-color: red;
}

.input-error .icon {
    fill: red !important;
}

.input-error .stroke {
    stroke: red !important;
}

#btn-mostrar-senha {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    z-index: 100;
    transform: translateY(70%);
    height: 20px;
    width: 24px;
}

#btn-entrar:disabled {
    background: #dbdcdc;
}

#div-btn {
    margin-top: 8rem;
}

.icon-input {
    position: absolute;
    z-index: 100;
    transform: translateY(70%);
    left: 1.4rem;
}

.icon {
    fill: #dbdcdc;
}

.blue {
    fill: #003d62;
}

.blue .stroke {
    stroke: #003d62;
}

.box {
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
    padding: 35px 65px 35px 65px;
    background-color: #ffffff;
    min-height: 300px;
}

.box.message {
    padding: 0;
}

.box.message .body {
    padding: 0 65px 35px 65px;
}

.was-validated .form-control {
    background-image: unset !important;
}

.server-validation {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.modal-header {
    padding: 0.5rem 0.5rem;
    background-color: #E6E8EA;
}

#btn-back {
    cursor: pointer;
}

.footer {
    position: fixed;
    background-color: #003d62;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer .container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 64px;
    margin-left: 2.7rem;
}

.footer p {
    margin: 0;
}

section {
    width: 55%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header label:nth-child(2) {
    color: red;
    font-size: 4.8rem;
}

.header label:last-child {
    color: #6b6c6f;
    font-size: 2.4rem;
}

.login {
    max-width: 500px;
}

.login label {
    color: #003e62;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 767px) {
    section {
        width: 80%; 
    }
}

@media (max-width: 460px), (max-height: 570px) {
    .button__gradient {
        margin-top: 3rem;
        width: 100%;
    }

    #div-btn {
        flex-direction: column;
    }

    .main {
        transform: scale(0.8,0.8);
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 434px){
    .footer p {
        font-size: 1.3rem;
    }
}

@media (max-width: 368px) {
    html {
        font-size: 55%;
    }

    .form-control::-webkit-input-placeholder {
        padding-left: 1rem;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 45%;
    }
}

@media (max-height: 685px) {
    #div-btn {
        margin-top: 3rem;
    }

    .login {
        margin: 0 !important;
    }

    .input-group:first-of-type {
        margin-bottom: 1rem !important;
    }

    .main label:last-of-type {
        margin-top: 0 !important;
    }
}

@media (max-height: 500px) {
    html {
        font-size: 45%;
    }
}