@using Europa.Extensions
@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.EmpresaVenda.Web.Models.Application

@model Tenda.EmpresaVenda.Web.Models.PrePropostaDTO


@{
    var listaTipoParcelas = TipoParcelaWrapper.TipoParcelaItbiEmolumento().Select(x => new SelectListItem
    {
        Text = x.AsString(),
        Value = "" + (int)x
    });
}

<script>
    Europa.Controllers.PreProposta.ItbiEmolumento.UrlListar = '@Url.Action("ItbiEmolumento", "PreProposta")';
    Europa.Controllers.PreProposta.ItbiEmolumento.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarItbiEmolumento").ToString().ToLower()',
    };
    Europa.Controllers.PreProposta.ItbiEmolumento.DropDownTipoParcela =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("TipoParcela", listaTipoParcelas,
        new { @class = "form-control" }).ToHtmlString()))';
</script>

<div class="col-md-24">
    <div ng-controller="itbiEmolumentoTable as table">
        <div id="itbi_emolumento_datatable_header">
            <div class="col-md-18 form-group">
                <h5>@GlobalMessages.ItbiEmolumentos</h5>
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>