@using Europa.Resources

<script src="~/Static/projeto/pre-proposta/log-integracao-modal.js"></script>

<script>
    Europa.Components.LogIntegracaoModal.UrlListar = '@Url.Action("ListarLogIntegracao", "PreProposta")';
</script>

<div class="modal" id="log_integracao_modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" onclick="Europa.Components.LogIntegracaoModal.FecharModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.LogDeIntegracao</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-24">
                    <div ng-controller="logIntegracao as table">
                        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                                dt-instance="table.dtInstance" class="table table-striped table-bordered"
                                dt-column-defs="table.dtColumnDefs"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" title="@GlobalMessages.Fechar" onclick="Europa.Components.LogIntegracaoModal.FecharModal()">
                    <i class="fa fa-ban"></i> @GlobalMessages.Fechar
                </button>
            </div>
        </div>
    </div>
</div>
