@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums

<script type="text/javascript" src="~/Static/projeto/state-machine-pre-proposta/datatable-documento-proponente.js"></script>

<div ng-controller="DatatableDocumentoProponente as table">
    <div id="documento_proponente_datatable_barra" class="col-md-24 container-fluid">
        <div class="col-md-24 form-group">
            <form>
                <div class="col-md-20">
                    @{
                        Html.RenderAction("RenderTiposDocumentoDropDownList");
                    }
                </div>

                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar"))
                {
                    <div class="pull-right" style="margin-right: 5px;">
                        <button class="btn btn-default" onclick="Europa.Controllers.StateMachinePreProposta.FiltrarDocumentoProponenteRule()"><i class="fa fa-filter" aria-hidden="true"></i></button>
                        <button class="btn btn-default" type="button" onclick="Europa.Controllers.StateMachinePreProposta.LimparFiltroDocumentoProponenteRule()"><i class="fa fa-eraser"></i></button>
                    </div>
                }
            </form>
        </div>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>


