@using Europa.Resources

<div id="regra-comissao-novas-regras" class="modal col-md-12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="max-width: 700px;">
    <div class="modal-dialog" style="padding: 30px;">
        <div class="modal-content" style="padding: 0 15px 15px 15px;">
            <div class="modal-header" style="padding: 15px 0px 0px 0px;">
                <img title="@GlobalMessages.Fechar" onclick="$('#regra-comissao-novas-regras').modal('hide')" class="btn-close pull-right"
                        src="~/Static/images/x-icon-red.png" width="20px" height="18px" />
            </div>
            <div class="modal-body" style="padding: 0;margin: 0;width: 100%;">
                <div class="col-md-24">
                    <div class="col-md-2">
                        <img src="~/Static/images/tenda-logo.png" width="40" height="40" style="margin: 10px;" />
                    </div>
                    <div class="col-md-20" style="margin-left: 15px;">
                        <div id="confirm-alert-header" class="col-md-24 modal-alert-title" style="padding: 20px 0px 0px 0px;font-size: 18px">Fique Atento!</div>
                        <div id="confirm-alert-body" class="col-md-24 modal-confirm-message">
                            <label>Algumas regras de comissão foram alteradas e você precisa aprová-las. Enquanto não for dado o aceite, o corretor não poderá intermediar negociações para a Tenda.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding:0;width: 100%;margin-left:0%;">
                <div class="col-md-24" style="text-align: right; margin-top: 15px;">
                    <button id="confirm-alert-positive-button" type="button" class="btn pull-right btn-yellow"
                            onclick="window.location.href='@Url.Action("Index", "RegraComissao")'">
                        @GlobalMessages.Visualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>