
@{
    ViewBag.Title = "Histórico de Regra de Comissão";
}

<div id="titlebar-name">@ViewBag.Title</div>

<script type="text/javascript" src="~/Static/projeto/historico-regra-comissao/index-historico.js"></script>

@Html.Partial("_Datatable")

