<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table class="table" style="max-width:650px">
        <tr style="max-width: 650px">
            <td colspan="3">
                <img style=" width: 650px; height: 170px" src="http://localhost/empresa-venda-portal/static/images/template-email/header2.png" />
            </td>
        </tr>
        <tr style="max-width: 650px">
            <td colspan="3" style=" text-align: center;">
                <img style="width: 234px; height: 82px; object-fit: contain;" src="http://localhost/empresa-venda-portal/static/images/logo-tenda-tagline-rgb-vermelho.svg" />
            </td>
        </tr>
        <tr style="height:57px">
        </tr>
        <tr>
            <td width="87px">
                <img style=" width: inherit;" src="http://localhost/empresa-venda-portal/static/images/template-email/left.png" />
            </td>
            <td width="477px">
                <div style="font-size: 16px; line-height: 24px; letter-spacing: 0px; color: #003d62; font-weight: bold;">
                    Olá {{nome}},
                </div>

                <div style="font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; color: #748591; width: 477px; margin-top: 16px;">
                    Fique atento, pois a Tenda estará no período de fechamento contábil entre os dias <b>{{inicioFechamento}} e {{terminoFechamento}}</b>.
                </div>

                <div style="font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; color: #748591; width: 477px; margin-top: 16px;">
                    Durante esses dias, você NÃO deverá emitir nenhuma nova Nota Fiscal, pois se o fizer, a mesma será reprovada e deverá ser cancelada por seu setor financeiro.
                </div>

                <div style="font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; color: #748591; width: 477px; margin-top: 16px;">
                    Mas fique tranquilo, pois no dia seguinte ao encerramento do período acima, você poderá retomar o envio de NF’s através da plataforma normalmente, apenas atente-se para que as mesmas tenham sido emitidas dentro do novo mês fiscal, sob pena de não pagamento.
                </div>

                <div style="font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; color: #748591; width: 477px; margin-top: 16px;">
                    Qualquer dúvida, estamos sempre à disposição, boas vendas!
                </div>

                <div style="margin-top: 16px;font-size: 16px; line-height: 24px; letter-spacing: 0px; color: #003d62; font-weight: bold;">
                    Equipe Tenda.
                </div>

                <div style="width: 485px; width: 485px; height: 82px; font-size: 12px; font-weight: normal;
                        font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: normal;
                        color: #748591; text-align: justify;  margin-top: 48px; margin-bottom:30px">
                    Este documento pode conter informações confidenciais e/ou privilegiadas. Se você não for o destinatário ou a pessoa autorizada a receber este documento, não deve usar, copiar ou divulgar as informações nele contidas ou tomar qualquer ação baseada nessas informações, sob o conhecimento de que qualquer disseminação, distribuição ou cópia deste conteúdo é proibida.
                </div>
            </td>
            <td width="86px">
                <img style=" width: inherit;" src="http://localhost/empresa-venda-portal/static/images/template-email/right.png" />
            </td>
        </tr>
        <tr style="max-width:650px">
            <td colspan="3" style="background-color: #003d62; padding: 14px 0px 9px 0px; text-align: center;">
                <span>
                    <img style="width: 32px; height: 26px; object-fit: contain;" src="http://localhost/empresa-venda-portal/static/images/mosca-tenda-bco.svg" />
                </span>
                <span style="font-size: 14px;vertical-align: middle; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.71; letter-spacing: normal; color: white;">
                    Todos os direitos reservados. Tenda 2020
                </span>
            </td>
        </tr>
    </table>
</body>
</html>