@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Integration.Zeus.Models;
@model ItemRequisicaoDTO

<script src="~/Static/projeto/pagamento/modal-gerar-requisicao-compra.js"></script>

<script>
    Europa.Controllers.Pagamento.UrlGerarRequisicaoCompraModal = '@Url.Action("GerarRequisicaoCompraModal","Pagamento")'
    Europa.Controllers.Pagamento.UrlGerarRC = '@Url.Action("GerarRC","Pagamento")'
</script>

<div class="modal" id="gerar_requisicao_compra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.VisualizarRequisicaoCompra</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-24" id="div_form_item_requisicao">
                    @{
                        Html.RenderPartial("~/Views/Pagamento/_ItemRequisicao.cshtml", Model);
                    }
                </div>
                <div class="col-md-24" id="div_form_designacao_conta_requisicao">
                    @{
                        Html.RenderPartial("~/Views/Pagamento/_DesignacaoContaRequisicao.cshtml", new ContabilizacaoRequisicaoDTO());
                    }
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" onclick="Europa.Controllers.Pagamento.FilaRequisicaoCompra()"><i class="fa fa-check" aria-hidden="true"></i> Colocar Pagamento na Fila</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
            </div>
        </div>
    </div>
</div>
