@using Europa.Extensions;
@using Tenda.EmpresaVenda.ApiService.Models.KanbanPreProposta

@model List<CardKanbanPrePropostaDto>

@{
    var we = 12 / (Model.IsEmpty() ? 1 : Model.Count());
}
<div id="Nivel2Kanban" >
    <div class="col-md-24" style="margin-top:10px">
        <div class="container-fluid">
            <div class="row ">
                @foreach (var card in Model)
                {
                    <div class="col-md-@we">
                        <div class="col-md-24 Kanban-Button trocacorNivel2" id="card_@card.Id" style="background-color: @card.Cor;" onclick="Europa.Controllers.KanbanPreProposta.CarregaCardPrePropostaKanban(@card.Id)">
                            @Html.Label(card.Descricao, new { @class = "control-label" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
