.book-empreendimento-card {
    box-shadow: 0 0 4px rgba(66,66,66,.2);
    margin-bottom: 30px;
    width: 30%;
    margin-right: 5%;
}

.book-empreendimento-card:nth-child(3n) {
    margin-right: 0;
}
    
.book-empreendimento-card .header {
    background: #d43e32;
    padding: 8px 10px 3px;
    color: #fff;
    position: relative;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    font-weight: 500;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-empreendimento-card .images {
    max-height: 220px;
    min-height: 220px;
}

.book-empreendimento-card .name {
    padding: 15px 10px;
    background-color: hsla(200,9%,66%,.5);
    color: #455a64;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.book-empreendimento-card .address {
    padding: 15px 10px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: hsla(200,9%,66%,.2);
}

.book-empreendimento-card .info {
    color: #455a64;
    padding: 5px 10px;
    font-weight: 200;
    height: 95px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-book-slides {
    max-height: 220px;
    margin-left: auto;
    margin-right: auto;
    image-orientation: from-image;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.book-empreendimento-card .details {
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #dfc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #f44336 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.modal-header .btn-close {
    margin-top: 12px;
    margin-right: -10px;
    width: 16px;
    float: right;
}

.modal-header h4 {
    font-weight: bold;
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
}

.modal-header span {
    font-weight: 400;
    color: white;
}

.div-btn-download {
    float: right;
    margin-right: 20px;
    /*margin-top: 24px;*/
}

.btn-book {
    /*height: 48px;
    width: 160px;*/
    font-size: 18px;
    margin-right: 38px;
}

.btn-lancamento {
    /*height: 48px;
    width: 235px;*/
    font-size: 18px;
}

.div-img-style {
    margin-top: 10px;
    padding: 9px 1px 10px 10px;
    height: 30px;
    width: 95%;
    background-color: #e1e3e3;
    margin-left: 3%;
}

    .div-img-style span {
        color: var(--dark);
        font-size: 18px;
        font-weight: 500;
    }

.div-exibir-img {
    display: flex;
    width: 100%;
}

    .div-exibir-img>div {
        margin-top: 12px;
        width: 45%;
    }

#div-imgs {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 53%;
    margin-left: 2%;
    height:100%;
    min-height:200px;
    max-height: 330px;
    display: block;
}

.grid-imgs-book {
    height: 146px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-imgs-book>div {
    position: relative;
    height: 100%;
    width: 205px;
    float: left;
}

.grid-imgs-book div>.thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

.grid-imgs-book div>.video-thumbnail-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
}

.grid-imgs-book .video-thumbnail-overlay>span {
    position: relative;
    font-size: 50px;
    color: red;
    margin-top: 48px;
}

.div-btn-imgs {
    margin-top: 5px;
    display: flex;
    width: 100%;
}

    .div-btn-imgs div:first-child {
        width: 45%;
    }

    .div-btn-imgs div:last-child {
        width: 53%;
        margin-left: 2%;
        text-align: center;
    }

        .div-btn-imgs div:last-child img {
            width: 27px;
            cursor: pointer;
        }

.div-detalhe-imov div:first-child{
    margin-top: 10px;
    padding: 9px 1px 10px 10px;
    height: 30px;
    width: 95%;
    background-color: #e1e3e3;
    margin-left: 3%;
}

.div-detalhe-imov div:first-child span{
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
}

.div-detalhe-imov div:last-child {
    margin-left: 4%;
    margin-top: 10px;
    width: 90%;
}

    .div-detalhe-imov div:last-child span {
        font-size: 17px;
        color: var(--slate);
    }

.div-ficha-tecnica div:first-child {
    margin-top: 10px;
    padding: 9px 1px 10px 10px;
    height: 30px;
    width: 95%;
    background-color: #e1e3e3;
    margin-left: 3%;
}

    .div-ficha-tecnica div:first-child span {
        color: var(--dark);
        font-size: 18px;
        font-weight: 500;
    }

.div-ficha-tecnica div:last-child {
    margin-left: 4%;
    margin-top: 10px;
    width: 90%;
}

    /*.div-ficha-tecnica div:last-child span:first-child {
        font-size: 17px;
        color: var(--slate);
        font-weight: bold;
    }*/

    .div-ficha-tecnica div:last-child span {
        font-size: 17px;
        color: var(--slate);
    }

.div-endereco div:first-child {
    margin-top: 10px;
    padding: 9px 1px 10px 10px;
    height: 30px;
    width: 95%;
    background-color: #e1e3e3;
    margin-left: 3%;
}

    .div-endereco div:first-child span {
        color: var(--dark);
        font-size: 18px;
        font-weight: 500;
    }

.div-endereco div:last-child {
    margin-left: 4%;
    margin-top: 10px;
    width: 90%;
}

    .div-endereco div:last-child span {
        font-size: 17px;
        color: var(--slate);
    }
.div-pre-proposta-btn {
    height: 65px;
    /*background-color: #fcfcfc;*/
}

    .div-pre-proposta-btn button {
        float: right;
        margin-right: 27px;
        padding-top: 5px;
        height: 30px;
        margin-top: 10px;
        width: 160px;
    }


input[type=radio] + label:before {
    height: 28px;
    width: 26px;
    margin-right: 10px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    background: url("../../europa/css/icons/radio-nao-white.svg") no-repeat;
}

input[type=radio]:checked + label:before {
    width: 26px;
    height: 28px;
    background: url("../../europa/css/icons/radio-sim-white.svg") no-repeat;
}


label {
    margin: 0 0 0;
}

input[type=radio] + label:before {
    margin-right: 2px;
}

input[type="checkbox"] {
    background-color: white;
}