<script src="~/Static/projeto/material/cautela.js"></script>
<script>
    Europa.Controllers.Material.Cautela.UrlListar = '@Url.Action("ListarMaterialCautela", "Material")';
</script>

<div class="title-table">
    <h5 class=""><b>Cautela</b></h5>
</div>
<div ng-controller="CautelaDataTable as table">
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>


