@using Europa.Resources
@using Europa.Fmg.Portal.Models.Application

@{
    ViewBag.Title = "Acesso Não Permitido";
}

<div style="width:100%">
    <div class="col-md-24" style="text-align:center;margin-top: 3em;">
        <label class="label" style="color:var(--slate)">
            Apenas Diretores podem acessar esta informação
        </label>
    </div>
</div>
