@using Europa.Resources
@using Tenda.EmpresaVenda.Portal.Models.Application

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutContratoCorretagem.cshtml";
}

<link href="~/Static/projeto/contrato-corretagem/contrato-corretagem.css" rel="stylesheet" />

<div style="width:100%">
    <div style="width:100%; text-align:center">
        <img style="height:97px;width:92px" src="~/Static/images/layout-contrato/tenda-vermelho.png" />
    </div>
    <div class="col-md-24" style="text-align:center;margin-top: 3em;">
        <label class="label">
            O contrato de corretagem padrão não está configurado. Entre em contato com a equipe da Tenda!
        </label>
    </div>
</div>
