@using Europa.Resources
@using Europa.Fmg.Portal.Models.Application
@using Europa.Fmg.Portal.Models
@model ContratoCorretagemViewModel

@{
    ViewBag.Codigo = "EVSNN";
    ViewBag.Title = "CONTRATO DE PRESTAÇÃO DE SERVIÇOS E CORRETAGEM";
}

<script src="~/Static/europa/js/pdf.js"></script>
<script src="~/Static/europa/js/pdf.worker.js"></script>

<script src="~/Static/projeto/contrato-corretagem/contrato-corretagem.js"></script>
<script>
    Europa.Controllers.ContratoCorretagem.UrlDownloadContrato ='@Url.Action("Download", "ContratoCorretagem")';
</script>

<div class="menu-options" align='center'>
    <div id="titlebar-name">@ViewBag.Title</div>
    <div id="titlebar-buttons">
        <div class="col-md-24" style="display: inline-flex">
            <button id="btn_download" class="btn btn-white" type="button" style="margin-left: 10px;" onclick="Europa.Controllers.ContratoCorretagem.Download()">
                <i class="fa fa-download"></i> @GlobalMessages.Download
            </button>
        </div>
    </div>
</div>

<div class="col-md-24">
    <div id="div-pdf">
        <canvas id="the-canvas"></canvas>
    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            var currentHeigth = $("#corpo-conteudo-layout").height() - 100;
            console.log(currentHeigth);
            Europa.Controllers.ContratoCorretagem.Url = '@Model.Contrato';
            Europa.Controllers.ContratoCorretagem.ExibirContrato(currentHeigth);
        }, 1000);
    });
</script>
