.select2-container--bootstrap .select2-selection--single {
    height: 28px;
    padding: 6px 20px 0px 8px;
}

.select2-container--bootstrap .select2-selection {
    font-size: 12px;
}


.select-increase-height .select2-selection--multiple {
    overflow: hidden !important;
    max-height: none !important;
    height: auto !important;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    display: block !important;
}
.select-increase-height .select2-selection__rendered {
    max-height: none !important;
}
.select2-container--bootstrap .select2-selection--multiple {
    min-height: 28px !important;
    max-height: 28px !important;
    display: inline-table;
    width: 100%;
}

span.select2-container {
    z-index: 10050;
}

.block-content span.select2-container {
    z-index: 100 !important;
}

.select2-selection--multiple {
    min-height: 28px !important;
    display: inline-table !important;
}

input.select2-search__field {
    height: 28px !important;
}

.select2-results__option[aria-selected=true] {
    display: none;
}


.select2-selection__choice{
    display: inline-flex;
}

.select2-selection__rendered {
    min-height: 28px !important;
    max-height: 28px !important;
    display: inline-table !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    margin: 4px 0 0 6px;
    }

.select-increase-height .select2-selection--multiple {
    overflow: hidden !important;
    max-height: none !important;
    height: auto !important;
}



.select-increase-height .select2-selection__rendered {
    max-height: none !important;
}