@using Tenda.Domain.Shared
<script src="~/Static/projeto/consulta-estoque/unidade-datatable.js"></script>
<script>
    Europa.Components.ConsultaEstoqueUnidadeDatatable.UrlListar = '@Url.Action("Unidade", "ConsultaEstoque")';
</script>

<div class="col-md-24">
    <div ng-controller="estoqueUnidadeTable as table">
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>
