@using Europa.Resources
@model IEnumerable<SelectListItem>

<div class="col-md-24" id="list_sistemas">
    @Html.DropDownList("Sistema", Model, GlobalMessages.Selecione, new { @class = "form-control", name = "Sistema" })
</div>

