﻿<div class="notfound container my-2">
    <div class="col-md-12 p-0">
        @*<img id="btn-back" src="~/Static/conecta/images/arrow-left.svg" alt="Voltar" onclick="window.history.back()" />
        <label class="text-red"> &nbsp; Voltar</label>*@
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            @*<img src="~/Static/images/ilustra-404.svg" class="img-fluid" alt="Not Found" />*@
        </div>
        <div class="col-md-6 text-center">
            <h3>404? A nãooo!</h3>
            <div>
                Não conseguimos encontrar nenhum conteúdo com estes termos!<br>
                Que tal tentar novamente usando um termo diferente?
            </div>
            <div class="mt-5">
                <button type="button" class="button__gradient" onclick="window.history.back()" style="width:260px;">OK. ENTENDI</button>
            </div>
        </div>
    </div>
</div>