.pos-venda-chart-tooltip {
    position: absolute;
    border-radius: 12px;
    background: transparent;
    font-family: AktivGrotesk;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--dusky-blue);
}

.tooltip-body {
    position: relative;
    display: block;
}

.tooltip-content {
    position: relative;
    display: block;
    min-width: 103px;
    min-height: 55px;
    border-radius: 6px;
    background: white;
    border: 1px solid white;
    padding: 17px 15px 4px;
    box-shadow: 0px 0px 32px 6px rgba(218, 218, 218,0.75);
}

.tooltip-arrow {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    border-color: white;
    border-style: solid;
}

.tooltip-arrow.above {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-width: 0;
    border-top-width: 15px;
    margin-left: auto;
    margin-right: auto;
}

.tooltip-arrow.below {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-width: 20px;
    border-top-width: 0;
    left: 50%;
    right: 50%;
}

.tooltip-arrow.left {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-width: 20px;
    border-top-width: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.tooltip-arrow.right {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-width: 20px;
    border-top-width: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.pos-venda-chart-tooltip > p {
    width: 100%;
    text-align: center;
    display: inline;
    vertical-align: middle;
}

.date-filter-popup {
    display: none;
    position: absolute;
    border: 1px solid white;
    z-index: 9;
    border-radius: 4px;
    box-shadow: 6px 5px 11px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white);
}

.date-filter-popup-container {
    padding: 16px;
    background-color: white;
    color: var(--slate)
}

.txt-periodo-de-exibicao {
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--slate);
    margin-bottom: 4px;
}

.filtro-data {
    border-radius: 3px;
    border: solid 1px #979797;
}

.filtro-data.filtro-data-error {
    border-radius: 3px;
    border: solid 1px var(--cherry-red);
}

.date-filter-label {
    height: 18px;
    border-radius: 0;
    border: none;
    font-family: AktivGrotesk;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--dark);
    background: white;
    padding: 3px 8px 0;
}

.date-filter-input {
    height: 35px;
    background: white;
    border-radius: 0;
    border: none;
}

.date-filter-input:focus {
    border-radius: 0;
    border: none;
    box-shadow: none;
    outline: none;
}

.date-filter-input-btn-wrapper {
    height: 35px;
    background: white;
    border-radius: 0;
    border: none;
}

.btn-date-filter-input {
    background: white;
    border: none;
    box-shadow: none;
    outline: none;
}

.btn-date-filter-input:focus, .btn-date-filter-input:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-date-filter-input > .fa {
    margin-top: 5px;
}

.btn-confirmar {
    width: 127px;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.14px;
    text-align: center;
    color: var(--white);
}

.chart-card-title {
    font-weight: bold;
    padding: 19px 10px 8px 10px;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.15px;
    text-align: center;
    color: var(--slate);
    line-height: normal;

}

.chart-card-sub-title {
    padding-top: 14px;
    padding-bottom:25px;
    height: 16px;
    font-family: AktivGrotesk;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--steel);
}

.title-item {
    padding-bottom:5px;
    height: 31px;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.15px;
    text-align: center;
    color: var(--slate);
}

.oval-kit-completo {
    width: 126px;
    height: 126px;
    border-radius: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 21px;
    padding-bottom: 22.8px;
    margin-top: 28px;
    margin-bottom: 54px;
    box-shadow: 10px 10px 33px 0 rgba(0, 0, 0, 0.1);
    background-color: #c3d8f0;
}

.oval-repasse {
    width: 126px;
    height: 126px;
    border-radius: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 21px;
    padding-bottom: 22.8px;
    margin-top: 28px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 33px 0 rgba(0, 0, 0, 0.1);
    background-color: #bddeda;
}

.oval-conformidade {
    width: 126px;
    height: 126px;
    border-radius: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 21px;
    padding-bottom: 22.8px;
    margin-top: 28px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 33px 0 rgba(0, 0, 0, 0.1);
    background-color: #cfd4f8;
}

.text-item-chart {
    font-family: AktivGrotesk;
    font-size: 47.8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--dusky-blue);
    padding: 15px;
}

.painel {
    width: 100%;
}

.btn-sem-docs-avalista {
    width: 123px;
    height: 25px;
    font-family: AktivGrotesk;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 12.5px;
    background-color: #ff5660;
    border-color: transparent;
    padding: 3px 0 0 0;
    margin: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-docs-avalista-enviados {
    width: 152px;
    height: 25px;
    font-family: AktivGrotesk;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #354052;
    border-radius: 12.5px;
    background-color: #feca34;
    border-color: transparent;
    padding: 3px 0 0 0;
    margin: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-tcd-assinado {
    width: 152px;
    height: 25px;
    font-family: AktivGrotesk;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #354052;
    border-radius: 12.5px;
    background-color: #79df0b;
    border-color: transparent;
    padding: 3px 0 0 0;
    margin: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-tcd-assinado:disabled, .btn-tcd-assinado:disabled.btn-tcd-assinado:hover,
.btn-sem-docs-avalista:disabled, .btn-sem-docs-avalista:disabled.btn-sem-docs-avalista:hover,
.btn-docs-avalista-enviados:disabled, .btn-docs-avalista-enviados:disabled.btn-docs-avalista-enviados:hover {
    color: #bcbfc1;
    background-color: var(--duck-egg-blue);
}

.btn-tcd-assinado:hover, .btn-tcd-assinado:focus {
    background-color: #79df0b;
    border-color: transparent;
    color: #354052;
}

.btn-docs-avalista-enviados:hover, .btn-docs-avalista-enviados:focus {
    background-color: #feca34;
    border-color: transparent;
    color: #354052;
}

.btn-sem-docs-avalista:hover, .btn-sem-docs-avalista:focus {
    background-color: #ff5660;
    border-color: transparent;
}

.txt-data-variacao {
    font-family: AktivGrotesk;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}

.txt-porcentagem-variacao {
    font-family: AktivGrotesk;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-top: 15px;
}

.txt-pos-vendas-no {
    font-family: AktivGrotesk;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.09px;
    color: var(--slate);
}

.txt-fluxo-da-caixa {
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.13px;
    color: var(--slate);
}

.txt-num-propostas {
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--dark-sky-blue);
}

.txt-num-propostas-valor {
    font-size: 27px;
    font-weight: bold;
    margin-right: 5px;
}

.btn-download-pdf {
    width: 126px;
    height: 44px;
    border-radius: 21.7px;
    box-shadow: 0 10px 20px 0 rgba(227, 227, 227, 0.5);
    border: solid 1px var(--brown-grey);
    background-color: var(--white);
    font-family: AktivGrotesk;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.btn-download-pdf-icon-wrapper {
    width: 30px;
    height: 33px;
    border-radius: 500px;
    background-color: var(--steel);
    color: var(--white);
    text-align: center;
}

.progress-bar-positive {
    background-image: none;
    background-color: var(--tealish);
}

.progress-bar-negative {
    background-image: none;
    background-color: var(--cherry-red);
}

.progress-bar-description {
    font-family: AktivGrotesk;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--steel);
}

.pos-vendas-chart-description {
    font-family: AktivGrotesk;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--steel);
    margin-top: 15px;
    margin-bottom: 26px;
}