@using Tenda.Domain.EmpresaVenda.Models

<fieldset id="fieldset_breve_lancamento">
    <div class="col-md-24" id="div_form_breve_lancamento">
        @{
            Html.RenderPartial("~/Views/BreveLancamento/_Formulario.cshtml", new BreveLancamento());
        }
    </div>

    <div class="col-md-24" id="div_form_endereco_breve_lancamento">
        @{
            Html.RenderPartial("~/Views/BreveLancamento/_FormularioEndereco.cshtml", new EnderecoBreveLancamento());
        }
    </div>
</fieldset>