<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/Static/projeto/breve-lancamento/breve-lancamento.js"></script>
    <script src="~/Static/projeto/breve-lancamento/breve-lancamento-datatable.js"></script>
    <script src="~/Static/projeto/breve-lancamento/modal-breve-lancamento.js"></script>
</head>
<body>

</body>
</html>