@using Europa.Resources
@using Tenda.Domain.Core.Enums

<div class="modal" id="modal_visualizar_imagem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="overflow: auto">
    <div class="modal-dialog modal-lg" role="document" style="min-width:1300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Europa.Controllers.LayoutProgramaFidelidade.FecharModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.VisualizarImagem</h4>
            </div>
            <div class="modal-body" style="padding:10px">
                <div class="col-md-24" style="text-align: center;">
                    <img id="banner" src="" style="max-width:1300px;max-height:223px"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" onclick="Europa.Controllers.LayoutProgramaFidelidade.FecharModal()"><i class="fa fa-close" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

