@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

<script type="text/javascript" src="~/Static/projeto/cliente-duplicado/datatable-pre-proposta.js"></script>

<div ng-controller="PrePropostaDatatable as table">
    <div id="pre_proposta_datatable_barra" class="col-md-24 container-fluid">
        <div class="col-md-24 form-group">
            <form>
                <div class="col-md-13">
                    <input type="text" id="preProposta" maxlength="50" placeholder="@GlobalMessages.PreProposta" class="form-control">
                </div>

                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar"))
                    {
                <div class="col-md-3 pull-right" style="margin-right: 5px">
                    <button class="btn btn-default" onclick="Europa.Controllers.ClienteDuplicado.FiltrarPreProposta()"><i class="fa fa-filter" aria-hidden="true"></i></button>
                    <button class="btn btn-default" type="button" onclick="Europa.Controllers.ClienteDuplicado.LimparFiltroPreProposta()"><i class="fa fa-eraser"></i></button>
                </div>
                }
            </form>
        </div>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>


