@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources

@{
    ViewBag.Codigo = "CAD10";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<div id="titlebar-name">
    @ViewBag.Title
</div>

<div id="titlebar-buttons">
    <div id="botoes_visualizacao">
        <button class="btn btn-default" title="@GlobalMessages.Novo" type="button" onclick="Europa.Controllers.BookBreveLancamento.Modal.Show('1')">
            <i class="fa fa-plus" aria-hidden="true"></i> @GlobalMessages.Novo
        </button>
    </div>
</div>

@{
    Html.RenderPartial("~/Views/BookEmpreendimento/_BookEmpreendimento.cshtml");
}